$tablet-min: 768px;
$tablet-max: 1024px;
$desktop-min: $tablet-max + 1px;
$max-width: 1440px;
$sidebar-desktop: 410px;
$phone-max: $tablet-min - 1px;

@mixin phone() {
  @media (max-width: $phone-max) {
    @content;
  }
}

@mixin below-desktop() {
  @media (max-width: $tablet-max) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $desktop-min) {
    @content;
  }
}

@mixin above-max-width() {
  @media (min-width: $max-width) {
    @content;
  }
}

@mixin above-max-width() {
  @media (min-width: $max-width) {
    @content;
  }
}