@import "./_constants.scss";
@import "./breakpoints.scss";

.datepicker {
  z-index: 20;
  display: flex;
  background: $grey-2;
  max-width: 305px;
  border-radius: 30px;
  font-size: 16px;

  @include below-desktop {
    font-size: 14px;
    height: 48px;
    max-width: max-content;
  }

  &__label {
    align-items: center;
    color: white;
    display: flex;
    padding: 0.5em 1.5em;

    @include below-desktop {
      font-size: 12px;
    }
  }

  .roundIcon {
    span {
      background-image: url("../../public/icons/calendar.svg");
    }
  }
}

.react-datepicker-wrapper {
  .react-datepicker__input-container {
    height: 100% !important;

    input {
      font-size: 16px;
      width: 150px !important;
      height: 100% !important;
      text-align: center !important;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;

      @include below-desktop {
        font-size: 14px;
      }
    }
  }
}

.react-datepicker-popper {
  z-index: 20 !important;
}

.hidden-datepicker-input {
  display: none !important;
}