@import "./_constants.scss";
@import "./breakpoints.scss";

.datepicker {
  z-index: 20;
  display: flex;
  background: $grey-2;
  max-width: 305px;
  border-radius: 20px;
  font-size: 16px;

  &__label {
    align-items: center;
    color: white;
    display: flex;
    padding: 0.5em 1.5em;
  }

  @include below-desktop {
    font-size: 14px;
    height: 48px;
    max-width: max-content;
  }
}

.react-datepicker-wrapper {
  .react-datepicker__input-container {
    height: 100% !important;

    input {
      font-size: 16px;
      width: 150px !important;
      height: 100% !important;
      text-align: center !important;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      @include below-desktop {
        font-size: 14px;
      }
    }
  }
}

.react-datepicker-popper {
  z-index: 20 !important;
}