@import "../../styles/_constants.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";

.pillList,
.suggestionList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pill {
    border: 1px solid white;
    border-radius: 3rem;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 1rem 1.5rem;

    &:hover {
        background-color: $blue-1;
    }

    @include phone {
        font-size: 14px;
    }
}

.suggestionList {
    &__heading {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    h2 {
        color: white;
        font-size: 16px;
        font-style: italic;
        margin: 0;

        @include phone {
            font-size: 14px;
        }
    }

    select {
        border-radius: 1rem;
        padding: 0.5rem;
    }

}

.suggestion {
    color: white;
    padding-right: 2rem;

    h3 {
        font-size: 24px;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 14px;
        margin-bottom: 1rem;
    }

    button {
        background-color: $blue-1;
        border: 0;
        border-radius: 2rem;
        color: $black-2;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        padding: 0.5rem 1rem;
        transition: opacity 0.1s ease;

        &:hover {
            opacity: 0.5;
        }
    }
}