@import "../../styles/_constants.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";

.modalContainer {
  z-index: 20;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.modal {
  z-index: 21;
  width: 80vw;
  height: 80vh;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 20px;
  background-color: $grey-3;
  box-shadow: 0px 10px 1px #070807;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  height: auto;

  @include phone {
    top: 5vh;
    left: 10vw;
    transform: none;
  }

  &__closeBtn {
    position: absolute;
    border-radius: 50%;
    font-size: 24px;
    background-color: white;
    color: $grey-2;
    right: 5px;
    top: 5px;
    z-index: 30;
    width: 2em;
    height: 2em;
    line-height: 1;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    @include desktop {
      color: white;
      background-color: $grey-2;
    }

    &__icon {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      user-select: none;
    }
  }

  &__title {
    @include gig-title();
    font-size: 24px;
    margin: 0;
    padding: 24px;
    z-index: 11;

    @include desktop {
      font-size: 48px;
    }

    @include phone {
      padding-right: 60px;
    }
  }

  &__gigTitle {
    @include gig-title();
    font-size: 24px;
    margin: 0;
    padding: 24px 60px 24px 24px;
    z-index: 11;

    @include desktop {
      font-size: 48px;
      position: absolute;
      bottom: 0;
    }
  }

  &__wrap {
    height: 80vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 24px;

    @include phone {
      padding: 20px;
    }

    &__flexWrapper {
      display: flex;
      flex-wrap: wrap;

      @include phone {
        display: block;
      }
    }

    &__buyBtn {
      margin-bottom: 1em;
      margin-left: auto;
      border-radius: 30px;
      display: inline-block;
      color: white;
      background-color: $green-1;
      font-weight: bold;

      @include phone {
        margin-top: 1em;
      }

      &__link {
        padding: 0.75em 1.75em;
        display: inline-block;
      }
    }

    &__text {
      font-size: 14px;
      color: white;
      margin: 0;

      @include desktop {
        font-size: 16px;
      }

      &__description__heading {
        color: white;
        opacity: 0.5;
        margin: 0;
      }

      &__description {
        color: white;
        padding-right: 30%;

        @include phone {
          padding-right: 0;
        }
      }
    }
  }
}