@import "../styles/_constants";
@import "../styles/breakpoints.scss";
@import "../styles/fonts.scss";

.sidebar {
  width: 100vw;
  background-color: $grey-3;
  position: fixed;
  z-index: 10;
  padding: 20px;

  @include below-desktop {
    padding: 0;
  }

  @include desktop {
    width: $sidebar-desktop;
    position: relative;
    left: auto;
    overflow-y: scroll;
  }

  &__sidebarMessage {
    color: white;
  }
}

.sidebar__mobileCollapse {
  span {
    background-image: url("../../public/icons/chevrons-down.svg");
  }

  &.collapsed {
    span {
      background-image: url("../../public/icons/chevrons-up.svg");
    }
  }
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  @include desktop {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0;
  }
}

.sidebar__topContent {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  @include desktop {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: revert;
  }

  @include below-desktop {
    align-items: center;
  }
}

.sidebar__gigList {
  display: flex;
  overflow-x: scroll;
  padding-left: 20px;
  padding-right: 20px;

  @include desktop {
    display: block;
    overflow-x: revert;
    padding-left: 0;
    padding-right: 0;
  }
}

.sidebar__gigList__gig {
  min-width: 220px;
  width: 100%;
  text-align: left;
  background-color: black;
  border: 0;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 2em;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;

  &:last-child {
    margin-right: 0;
  }

  @include desktop {
    margin-bottom: 20px;
    margin-right: 0;
  }

  &__title {
    z-index: 11;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;

    &__text {
      @include gig-title();
      margin: 0;
      font-size: 18px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @include desktop {
        font-size: 24px;
      }
    }
  }

  &__desc {
    padding: 10px;
    color: white;

    &__text {
      font-size: 12px;
      margin: 0;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}

.sidebar__suggestionModalPrompt {
  bottom: 0;
  left: 20px;
  padding: 20px;
  position: sticky;
  width: 100%;
  z-index: 11;
  background-color: $blue-1;
  border: 0;
  border-radius: 2rem;
  color: $black-2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem 0.5rem;

  @include below-desktop {
    font-size: 16px;
    margin: 0.5rem 0 1rem;
    padding: 1rem;
    width: calc(100% - 40px);
  }

  span {
    transition: opacity 0.5s ease;
  }

  &:hover {
    span {
      opacity: 0.5;
    }
  }
}